
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a href="#" class="navbar-brand">
      <img src="assets/images/logo1.png" height="59" alt="CoolBrand">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse  navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        <a  class="nav-link" routerLink="/about-us">About Us</a>
        <a  class="nav-link" routerLink="/services">Services</a>
        <a  class="nav-link" routerLink="/gallery">Collection</a>
        <a  class="nav-link" routerLink="/contact-us">Contact</a>
      </div>
      <div class="navbar-nav ml-auto">
        <div class="row">
          <a href="#" class="nav-item nav-link" routerLink="/contact-us">Find Salon</a>
        </div>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>

<app-footer></app-footer>
