.header{
  font-family: Courier, monospace;
  alignment: center;
  padding-left: 380px;
  font-size: 70px;
}
table {
  width: 100%;
  background-color: #EFF8FB;
}

tr.mat-footer-row {
  font-weight: bold;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.button {
  border-radius: 4px;
  background-color:white;
  border-color: black;
  color: black;
  text-align: center;
  font-size: 28px;
  /*padding: 20px;*/
  padding-top: 0px;
  width: 200px;
  height:50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.jumbotron:hover{
  border: 2px solid black;
  border-radius: 20px;
  background-color:wheat;
}
