<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/images/hair-salons.jpg" alt="1st_slide">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/banner-beitrag-shellac-selber-machen.jpg" alt="2nd_slide">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/models-3740609_960_720.jpg" alt="3rd_slide">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--adding space in-->
<br>
<br>
<br>
<!--adding space out-->
<div class="container">
  <div class="row">
    <div class="col" style="width: 100%">
      <!-- Jumbotron -->
      <div class="jumbotron text-center">



        <!-- Title -->
        <h1 class="card-title h4 pb-2"><strong>HAIR & BEAUTY</strong></h1>
        <p class="lead" style="font-family: Courier, monospace">Welcome to Salon ISHI, your number one source for all the Beauty Services. We're dedicated to giving you the very best of Our Services , with a focus on using best Brands of the world , Best experienced Employees and Excellent Customer Satisfaction......</p>
        <button class="button" routerLink="/hair-b"><span>Read More</span></button>
      </div>
      <!-- Jumbotron -->
    </div>
    <div class="col" style="width: 100%">
      <!-- Jumbotron -->
      <div class="jumbotron text-center">

        <!-- Title -->
        <h1 class="card-title h4 pb-2"><strong>NAILS</strong></h1>
        <p class="lead" style="font-family: Courier, monospace">Welcome to Salon ISHI, your number one source for all the Beauty Services. We're dedicated to giving you the very best of Our Services , with a focus on using best Brands of the world , Best experienced Employees and Excellent Customer Satisfaction......</p>
        <button class="button" routerLink="/nails"><span>Read More</span></button>
      </div>
      <!-- Jumbotron -->
    </div>
    <div class="col" style="width: 100%">
      <!-- Jumbotron -->
      <div class="jumbotron text-center">
        <!-- Title -->
        <h1 class="card-title h4 pb-2"><strong>DRESSING</strong></h1>
        <p class="lead" style="font-family: Courier, monospace">Welcome to Salon ISHI, your number one source for all the Beauty Services. We're dedicated to giving you the very best of Our Services , with a focus on using best Brands of the world , Best experienced Employees and Excellent Customer Satisfaction......</p>
        <button class="button" routerLink="/dressings"><span>Read More</span></button>
      </div>
      <!-- Jumbotron -->
    </div>
  </div>
</div>


