<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- --------------------------------------------------------------------------------------------------------------------->

<p>NAIL SERVICES</p>
<br>

<div class="jumbotron" >
  <table class="table2">
    <!-- table heading-->
    <tr>
      <th></th>
      <th>STARTING FROM</th>
    </tr>
    <!-- table row 1-->
    <tr>
      <td>
        MANICURE</td>
      <td>LKR    2400</td>
    </tr>
    <!-- table row 2-->
    <tr>
      <td>PEDICURE</td>
      <td>LKR    2200</td>
    </tr>
    <!-- table row 3-->
    <tr>
      <td>FRENCH MANICURE</td>
      <td>LKR    3500</td>
    </tr>
    <!-- table row 4-->
    <tr>
      <td>FRENCH PEDICURE</td>
      <td>LKR    2500</td>
    </tr>
    <!-- table row 5-->
    <tr>
      <td>FOOT SCRUB</td>
      <td>LKR    1500</td>
    </tr>
    <!-- table row 6-->
    <tr>
      <td>SPA MANICURE</td>
      <td>LKR    2500</td>
    </tr>
    <!-- table row 7-->
    <tr>
      <td>SPA PEDICURE</td>
      <td>LKR    6500</td>
    </tr>
    <!-- table row 8-->
    <tr>
      <td>FOOT REFLEXOLOGY</td>
      <td>LKR    3500</td>
    </tr>
    <!-- table row 9-->
    <tr>
      <td>GEL NAILS</td>
      <td>LKR    3500</td>
    </tr>
    <!-- table row 10-->
    <tr>
      <td>NAIL ART</td>
      <td>LKR    3000</td>
    </tr>
    <!-- table row 11-->
    <tr>
      <td>GELISH PEDICURE</td>
      <td>LKR    3000</td>
    </tr>
    <!-- table row 12-->
    <tr>
      <td>GELISH MANICURE</td>
      <td>LKR    1500</td>
    </tr>
    <!-- table row 13-->
    <tr>
      <td>REMOVING ACRYLIC/GEL NAILS</td>
      <td>LKR    3000</td>
    </tr>
    <!-- table row 14-->
    <tr>
      <td>GELISH COLOUR CHANGE</td>
      <td>LKR    2000</td>
    </tr>
    <!-- table row 15-->
    <tr>
      <td>GELISH REMOVAL</td>
      <td>LKR    1300</td>
    </tr>
    <!-- table row 16-->
    <tr>
      <td>GEL NAIL ART</td>
      <td>LKR    800</td>
    </tr>
  </table>
</div>
