<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<br>
<br>
<br>
<!-- --------------------------------------------------------------------------------------------------------------------->
<div class="jumbotron text-center" style="background-color: white">
  <p style="font-size: 50px; font-family: Courier, monospace">CONTACT US</p>

<div class="jumbotron"style=" font-family: Courier, monospace;font-size: 18px;">
<!--Section: Contact v.2-->
<section class="section">

  <div class="card">

    <div class="card-body">

      <!--Google map-->
      <div id="map-container-google-12" class="z-depth-1-half map-container-7" style="height: 200px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.1073552298753!2d79.88483651425682!3d6.996636694945795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae2f7c574bd495f%3A0xc2ea91ac56a68232!2sKerawalapitya%20Junction!5e0!3m2!1sen!2slk!4v1595329632506!5m2!1sen!2slk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
  <br>
  <br>
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6">
          <form>

            <div class="md-form">
              <label for="contact-name" class="">NAME</label>
              <input type="text" id="contact-name" class="form-control">
            </div>

            <br>

            <div class="md-form">
              <label for="contact-email" class="">EMAIL</label>
              <input type="text" id="contact-email" class="form-control">
            </div>

          </form>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 ">
          <div class="md-form primary-textarea">
            <label for="contact-message">FEEDBACK</label>
            <textarea id="contact-message" class="md-textarea form-control mb-0" rows="5" style="padding-bottom: 1.2rem;"></textarea>
          </div>
        </div>
        <!--Grid column-->
  <br>
        <!--Grid column-->
        <div class="col-md-12">
          <br>

          <div class="text-center">
            <a class="btn btn-mdb-color btn-block" style="background-color: #289bde;font-size: 18px;color: white;text-decoration-style: solid">Send Message</a>
          </div>
        </div>
        <!--Grid column-->

      </div>

    </div>

  </div>

</section>
<!--Section: Contact v.2-->

</div>
</div>

