
.map-container-7{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-7 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
a,btn btn-mdb-color btn-block:hover{
  border-radius: 20px;
}

