td,
th {
  padding: 10px;
}
table{
  font-size: 20px;
  margin-left:auto;
  margin-right:auto;
  font-family: Courier, monospace;
}
.jumbotron{
  alignment: center;
  width: 60%;
  margin-left:auto;
  margin-right:auto;
}
.table2 td{
  padding-right: 102px;
  padding-left: 100px;
}
