<<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- --------------------------------------------------------------------------------------------------------------------->

<p style="font-size: 50px;text-align: center;
  margin-left:auto;margin-right:auto;
  font-family: Courier, monospace;">HAIR & BEAUTY SERVICES</p>
<br>
<div class="jumbotron">
  <p style="font-size: 50px;text-align: center;
  margin-left:auto;margin-right:auto;
  font-family: Courier, monospace;">HAIR</p>
  <br>
  <table>
    <!-- table heading-->
    <tr>
      <th></th>
      <th>STARTING FROM</th>
    </tr>
    <!-- table row 1-->
    <tr>
      <td>SHAMPOO/CUT/BLOW DRY</td>
      <td>LKR    4000</td>
    </tr>
    <!-- table row 2-->
    <tr>
      <td>SHAMPOO BLOW DRY	</td>
      <td>LKR    2000</td>
    </tr>
    <!-- table row 3-->
    <tr>
      <td>HAIR IRONING</td>
      <td>LKR    2500</td>
    </tr>
    <!-- table row 4-->
    <tr>
      <td>ROLLER SETTING</td>
      <td>LKR    2500</td>
    </tr>
    <!-- table row 5-->
    <tr>
      <td>HAIR TONGING</td>
      <td>LKR    1500</td>
    </tr>
    <!-- table row 6-->
    <tr>
      <td>HAIR STYLE</td>
      <td>LKR    2500</td>
    </tr>
    <!-- table row 7-->
    <tr>
      <td>HAIR EXTENSIONS (ELIBANK / LUCKY PLAZA)</td>
      <td>LKR    6500</td>
    </tr>
    <!-- table row 8-->
    <tr>
      <td>KEUNE BALM TREATMENT</td>
      <td>LKR    3500</td>
    </tr>
    <!-- table row 9-->
    <tr>
      <td>LOREAL KERATIN TREATMENT</td>
      <td>LKR    3500</td>
    </tr>
    <!-- table row 10-->
    <tr>
      <td>HAIR RELAXING</td>
      <td>LKR    3000</td>
    </tr>
    <!-- table row 11-->
    <tr>
      <td>HAIR REBONDING</td>
      <td>LKR    3000</td>
    </tr>
    <!-- table row 12-->
    <tr>
      <td>HAIR SEMI BONDING</td>
      <td>LKR    1500</td>
    </tr>
    <!-- table row 13-->
    <tr>
      <td>ROOT TINT</td>
      <td>LKR    3000</td>
    </tr>
    <!-- table row 14-->
    <tr>
      <td>FULL HEAD COLOUR</td>
      <td>LKR    6000</td>
    </tr>
    <!-- table row 15-->
    <tr>
      <td>HIGHLIGHTS</td>
      <td>LKR    3000</td>
    </tr>
  </table>
</div>
<div class="jumbotron" >
  <p style="padding-left: 20px">BEAUTY</p>
  <br>
  <table class="table2">
    <!-- table heading-->
    <tr>
      <th></th>
      <th>STARTING FROM</th>
    </tr>
    <!-- table row 1-->
    <tr>
      <td>EYEBROWS THREADING</td>
      <td>LKR    400</td>
    </tr>
    <!-- table row 2-->
    <tr>
      <td>UPPER LIP THREADING</td>
      <td>LKR    200</td>
    </tr>
    <!-- table row 3-->
    <tr>
      <td>CHIN THREADING</td>
      <td>LKR    500</td>
    </tr>
    <!-- table row 4-->
    <tr>
      <td>SIDES THREADING</td>
      <td>LKR    500</td>
    </tr>
    <!-- table row 5-->
    <tr>
      <td>FULL FACE THREADING</td>
      <td>LKR    1500</td>
    </tr>
    <!-- table row 6-->
    <tr>
      <td>FACE BLEACH</td>
      <td>LKR    2500</td>
    </tr>
    <!-- table row 7-->
    <tr>
      <td>FULL ARMS BLEACH</td>
      <td>LKR    2500</td>
    </tr>
    <!-- table row 8-->
    <tr>
      <td>FULL LEGS BLEACH</td>
      <td>LKR    1500</td>
    </tr>
    <!-- table row 9-->
    <tr>
      <td>FULL BACK BLEACH</td>
      <td>LKR    2500</td>
    </tr>
    <!-- table row 10-->
    <tr>
      <td>STOMACH BLEACH</td>
      <td>LKR    2000</td>
    </tr>
    <!-- table row 11-->
    <tr>
      <td>FULL BODY BLEACH</td>
      <td>LKR    3500</td>
    </tr>
    <!-- table row 12-->
    <tr>
      <td>BASIC CLEAN UP</td>
      <td>LKR    2000</td>
    </tr>
    <!-- table row 13-->
    <tr>
      <td>BASIC FACIAL</td>
      <td>LKR    3000</td>
    </tr>
    <!-- table row 14-->
    <tr>
      <td>GOLD FACIAL</td>
      <td>LKR    5000</td>
    </tr>
  </table>
</div>
