<!-- Footer -->
<footer class="page-footer font-small teal pt-4" style="background-color:white">
  <div class="container-fluid text-center">
    <div class="row text-center">
      <hr class="clearfix w-100 d-md-none pb-3">
    <div class="col-4"></div>
      <div class="col-4">
        <img src="assets/images/logo1.png" class="img-fluid" alt="logo"style=" width: 200px;height: 250px; padding-top: 50px;align-content: center">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div></div>
      <div class="col-4"></div>
    </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: black; font-size: 18px">© 2020 Copyright:
    <a href="/">Salon ISHI.com</a>
  </div>
</footer>
<!-- Footer -->
