<br>
<br>
<br>
<br>
<br>
<!--give some space to get the details down because the nav bar is a sticky bar so in order to get the other details i had to put <br> tags-->
  <div class="container">
    <!--    jumbotron text-center-->
    <div class="jumbotron text-center">
      <div class="row">
          <div class="header">
          <p>ABOUT US</p>
        </div>
      </div>
      <!--Adding Space In-->
      <br>
      <br>
      <!--Adding Space Out-->
      <!--First Jumbotron-->
      <div class="jumbotron-1">
          <div class="view overlay my-4">
            <img src="assets/images/logo1.png" class="img-fluid" alt="logo"style=" width: 200px;height: 250px; padding-top: 50px">
            <a href="#">
          <div class="mask rgba-white-slight"></div>
             </a>
          </div>
        <p class="lead" style="font-family: Courier, monospace">Welcome to Salon ISHI, your number one source for all the Beauty Services. We're dedicated to giving you the very best of Our Services , with a focus on using best Brands of the world , Best experienced Employees and Excellent Customer Satisfaction......</p>
        <!--Adding Space In-->
          <br>
          <br>
        <!--Adding Space Out-->
      </div>
      <!--Adding Space In-->
      <br>
      <br>
      <br>
      <!--Adding Space Out-->
      <!--      Second jumbotron-->
      <div class="jumbotron-1 animated bounce infinite">
        <!--Adding Space In-->
        <br>
        <br>
        <!--Adding Space Out-->
          <h1>LAKSHARI ISHIWARA  - THE OWNER</h1>
          <p class="lead" style="font-family: Courier, monospace">
          We have Include a Collection of our Service and outcomes of our services.Fell free to watch our Collection...</p>
      </div>
      <!--Adding Space In-->
      <br>
      <br>
      <!--Adding Space Out-->
    </div>
  </div>

