.header{
  font-family: Courier, monospace;
  alignment: center;
  padding-left: 380px;
  font-size: 70px;
}
.aboutustit{
  font-family: Courier, monospace;
  font-style: italic;
}
.jumbotron-1:hover{
  /*background-color:floralwhite;*/
  border: 1px solid white;
  border-radius: 20px;

}
.jumbotron{
  border: 1px solid black;
  border-radius: 20px;
}
