<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- --------------------------------------------------------------------------------------------------------------------->
  <p>DRESSING SERVICES</p>
<br>
    <div class="jumbotron" >
              <table class="table2">
                <!-- table heading-->
                <tr>
                  <th></th>
                  <th>STARTING FROM</th>
                </tr>
                <!-- table row 1-->
                <tr>
                  <td>FULL DRESSING (MAKEUP/HAIR/SAREE DRAPE)</td>
                  <td>LKR    4400</td>
                </tr>
                <!-- table row 2-->
                <tr>
                  <td>MAKE UP</td>
                  <td>LKR    2200</td>
                </tr>
                <!-- table row 3-->
                <tr>
                  <td>MAC MAKEUP</td>
                  <td>LKR    3500</td>
                </tr>
                <!-- table row 4-->
                <tr>
                  <td>HAIR STYLE</td>
                  <td>LKR    2500</td>
                </tr>
                <!-- table row 5-->
                <tr>
                  <td>SAREE DRAPE</td>
                  <td>LKR    1500</td>
                </tr>

              </table>
    </div>
