
<br>
<br>
<br>
<!-- --------------------------------------------------------------------------------------------------------------------->
<div class="jumbotron text-center" style="background-color: white">
  <p style="font-size: 50px; font-family: Courier, monospace">COLLECTION</p>
<!--  ------------->
<br>
<!--  -------------->
<!--row-->
  <div class="row">
    <div class="jumbotron text-center">
      <p style="font-size: 20px; font-family: Courier, monospace">Hello there !! ,In here we showing you some of the Finest work we have done. we have include our all services in here.These services are done by the best of SALON ISHI. So, Come to our salon get the best Experinces of your life</p>
      <p style="font-size: 20px; font-family: Courier, monospace" >We have include the Reviews of some our clients made ,  So you can get a better idea about our services </p>
    </div>

    <div class="jumbotron text-center"style="background-color: white" >
      <p style="font-size: 28px; font-family: Courier, monospace">HAIR & BEAUTY</p>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 87%; padding-left: 200px">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="col-lg-8 pull-right">
                      <img class="d-block w-100" src="assets/images/hairb/eyebrowsTHREADING.jpg" alt="1st_slide">
                    </div>
                    <div class="col-lg-4">
                      <h2 >EYEBROWS THREADING<br>
                        <small style="font-family: Courier, monospace">by Ramani fernando in Dec 22, 2020 </small></h2>
                      <p style="font-family: Courier, monospace">
                        They Did a wonderful job in Eyebrows Threading and the palce also was clean . the best part is the employees was so kind and polite.please visit this place...
                      </p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-lg-8 pull-right">
                      <img class="d-block w-100" src="assets/images/hairb/face-Bleach.jpg" alt="2nd_slide">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                    <div class="col-lg-4">
                      <h2>FACE BLEACH<br>
                        <small style="font-family: Courier, monospace">by Ranjani Mendis in Aug 12, 2020</small></h2>
                      <p style="font-family: Courier, monospace">
                        If I could give 10 starts I would. Ishi and her team are pure magicians. They manage to do things that only few people can do!
                      </p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-lg-8 pull-right">
                      <img class="d-block w-100" src="assets/images/hairb/Hair coloring.jpg" alt="2nd_slide">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                    <div class="col-lg-4">
                      <h2>HAIR COLORING<br>
                        <small style="font-family: Courier, monospace">by Dinakshi Rathnayaka in Jun 10, 2020 </small></h2>
                      <p style="font-family: Courier, monospace">
                        I been going there for a year now and it's one of my favorite places. Lovely people always make you look great and feel great  All of them big professionals
                      </p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-lg-8 pull-right">
                      <img class="d-block w-100" src="assets/images/hairb/Hair rebonding.jpg" alt="2nd_slide">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                    <div class="col-lg-4">
                      <h2>HAIR REBONDING<br>
                        <small style="font-family: Courier, monospace">by Minuri Perera in Oct 22, 2020 </small></h2>
                      <p style="font-family: Courier, monospace">
                        If I could give 10 starts I would. Ishi and her team are pure magicians. They manage to do things that only few people can do!
                      </p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-lg-8 pull-right">
                      <img class="d-block w-100" src="assets/images/hairb/Hair Tonging.jpg" alt="3rd_slide">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                    <div class="col-lg-4">
                      <h2>HAIR TONGING<br>
                        <small style="font-family: Courier, monospace">by Darani kausahalya in Jul 29 </small></h2>
                      <p style="font-family: Courier, monospace">
                        Had my Hair done by kirsty yesterday, they were in a terrible state but looked totally amazing once kirsty had finished, I now have beautiful Hair at a nice length without even having tips put on, thank you soooooo much Ishi xx
                      </p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-lg-8 pull-right">
                      <img class="d-block w-100" src="assets/images/hairb/Hair_extentions.jpg" alt="4th_slide">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                    <div class="col-lg-4">
                      <h2>HAIR EXTENTIONS<br>
                        <small style="font-family: Courier, monospace">by Merovingio in Jun 22, 2018 </small></h2>
                      <p style="font-family: Courier, monospace">
                        If I could give 10 starts I would. Ishi and her team are pure magicians. They manage to do things that only few people can do!
                      </p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-lg-8 pull-right">
                      <img class="d-block w-100" src="assets/images/hairb/shampo_cut_blow dry.jpg" alt="5th_slide">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                    <div class="col-lg-4">
                      <h2>SHAMPO/CUT/BLOW DRY<br>
                        <small style="font-family: Courier, monospace">by Debora debb in Jun 02, 2020 at
                          21:59</small></h2>
                      <p style="font-family: Courier, monospace">
                        If I could give 10 starts I would. Ishi and her team are pure magicians. They manage to do things that only few people can do!
                      </p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-lg-8 pull-right">
                      <img class="d-block w-100" src="assets/images/hairb/waxing.jpg" alt="6th_slide">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                    <div class="col-lg-4">
                      <h2>WAXING<br>
                        <small style="font-family: Courier, monospace">by Thushari Perera in mar 08, 2020 </small></h2>
                      <p style="font-family: Courier, monospace">
                        If I could give 10 starts I would. Ishi and her team are pure magicians. They manage to do things that only few people can do!
                      </p>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <br>
              </div>
      </div>
    </div>
                <div class="jumbotron text-center"style="background-color: white" >
                  <p style="font-size: 28px; font-family: Courier, monospace">NAIL</p>
                  <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel" style="width: 87%; padding-left: 200px">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
                      <li data-target="#carouselExampleIndicators1" data-slide-to="3"></li>
                      <li data-target="#carouselExampleIndicators1" data-slide-to="4"></li>
                      <li data-target="#carouselExampleIndicators1" data-slide-to="5"></li>
                      <li data-target="#carouselExampleIndicators1" data-slide-to="6"></li>
                      <li data-target="#carouselExampleIndicators1" data-slide-to="7"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="col-lg-8 pull-right">
                          <img class="d-block w-100" src="assets/images/nail/Ethical-Nail-artr-4.jpg" alt="1st_slide">
                        </div>
                        <div class="col-lg-4">
                          <h2>NAIL ART<br>
                            <small>by Merovingio in Jun 22, 2017 at
                              21:59</small></h2>
                          <p>
                            Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus.
                            Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi.
                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...
                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...
                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...
                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...
                          </p>
                        </div>
                      </div>
                    </div>
                      <div class="carousel-item">
                        <div class="col-lg-8 pull-right">
                          <img class="d-block w-100" src="assets/images/nail/foot scrub.jpg" alt="2nd_slide">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                        <div class="col-lg-4">
                          <h2>FOOT SCRUB<br>
                            <small>by Merovingio in Jun 22, 2017 at
                              21:59</small></h2>
                          <p>
                            Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus.
                            Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi.
                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...
                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...
                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...
                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...
                          </p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="col-lg-8 pull-right">
                          <img class="d-block w-100" src="assets/images/nail/manicure-1.jpg" alt="3rd_slide">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                        <div class="col-lg-4">
                          <h2>MANICURE<br>
                            <small>by Merovingio in Jun 22, 2017 at
                              21:59</small></h2>
                          <p>
                            Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus.
                            Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi.
                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...
                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...
                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...
                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...
                          </p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="col-lg-8 pull-right">
                          <img class="d-block w-100" src="assets/images/nail/PEDICURE.jpg" alt="4th_slide">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                        <div class="col-lg-4">
                          <h2>PEDICURE<br>
                            <small>by Merovingio in Jun 22, 2017 at
                              21:59</small></h2>
                          <p>
                            Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus.
                            Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi.
                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...
                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...
                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...
                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...
                          </p>
                        </div>
                      </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                    <br>
                    </div>
                  </div>


                <div class="jumbotron text-center"style="background-color: white" >
                  <p style="font-size: 28px; font-family: Courier, monospace">DRESSING</p>
                  <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel" style="width: 87%; padding-left: 200px">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators2" data-slide-to="4"></li>
                      <li data-target="#carouselExampleIndicators2" data-slide-to="5"></li>
                      <li data-target="#carouselExampleIndicators2" data-slide-to="6"></li>
                      <li data-target="#carouselExampleIndicators2" data-slide-to="7"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="col-lg-8 pull-right">
                          <img class="d-block w-100" src="assets/images/dressing/bridle dressing.jpg" alt="1st_slide">
                        </div>
                        <div class="col-lg-4">
                          <h2 >BRIDLE DRESSING<br>
                            <small style="font-family: Courier, monospace" >by "SHANIKA JAYAMAHA" in May 21, 2019 </small></h2>
                          <p style="font-family: Courier, monospace">
                            This place is the best hair salon I've ever been too. First of all, the workers are extremely friendly. Although they speak very little English they are still friendly and get the job done. So the workers are nice and patient.
                            Second of all, there work is very professional and good. I ironed my hair and cut it and it turned out very good and got tons of compliments not just by my friends but other ppl too. The prices are also amazing for there work.......
                          </p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="col-lg-8 pull-right">
                          <img class="d-block w-100" src="assets/images/dressing/focuz-studios-best-christian-wedding-photography-tamil-nadu-5.jpg" alt="2nd_slide">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                        <div class="col-lg-4">
                          <h2>BRIDLE DRESSING<br>
                            <small style="font-family: Courier, monospace">by "PIUMIKA PERERA" Jun 22, 2019
                              </small></h2>
                          <p style="font-family: Courier, monospace">
                            These Are Young Very Nice Women That Keep Up With All The Modern Styles. They Listen To What You Want And Work With You. Their Prices Are Very Reasonable Too
                            they did a good job in the dressing also.Please visit this place.They will do their best......
                          </p>
                        </div>
                      </div>
                      </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                    <br>
                  </div>
                </div>
  </div>

