.homcon1{
  margin: 0px;
  padding-right: 10px;
}
.button {
  border-radius: 4px;
  background-color:white;
  border-color: black;
  color: black;
  text-align: center;
  font-size: 28px;
  /*padding: 20px;*/
  padding-top: 0px;
  width: 200px;
  height:50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.jumbotron{
  border: 1px solid white;
  border-radius: 20px;

}
.jumbotron:hover{
  border: 2px solid black;
  border-radius: 20px;
}
