<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/images/candice-picard-1dwRuFgDr0o-unsplash.jpg" alt="1st_slide">
      <div class="carousel-caption d-none d-md-block">
        <h1>MAKE-UP ARTIST</h1>
        <p>A make-up artist is a professional artist that uses mediums applied to the skin to transform or enhance the appearance of a person</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/allie-kupPJQQdpMs-unsplash.jpg" alt="2nd_slide">
      <div class="carousel-caption d-none d-md-block">
        <h1>MAKE-UP KIT</h1>
        <p>Having a collection of beauty products worthy of a makeup artist is no small feat — after all, they are artists</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/engin-akyurt-35NAaB_Nmx8-unsplash.jpg" alt="3rd_slide">
      <div class="carousel-caption d-none d-md-block">
        <h1>SALON HAIR STYLIST</h1>
        <p>Salon stylists perform a broad range of beauty services, from cutting hair to performing scalp treatments</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/freestocks-JfJjQgXpXeM-unsplash.jpg" alt="4th_slide">
      <div class="carousel-caption d-none d-md-block">
         </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/guilherme-petri-PtOfbGkU3uI-unsplash.jpg" alt="5th_slide">
      <div class="carousel-caption d-none d-md-block">
        <h1>BEAUTY SALONS</h1>
        <p>An establishment in which hairdressing, make-up, and similar cosmetic treatments are carried out professionally</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/rune-enstad-cowLgyb63c4-unsplash.jpg" alt="6th_slide">
      <div class="carousel-caption d-none d-md-block">
        <h1>EYEBROWS</h1>
        <p>Tweezing your brows into a beautifully curved arch is so much more difficult than just pulling out stray hairs</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>

  <!-- Demo Content -->
<div class="homcon1">
  <div class="row" style="padding-left: 50px">
  <div class="col-md-7">
  <div class="container">
    <div class="jumbotron">
      <h1>ABOUT US</h1>
     <p class="lead" style="font-family: Courier, monospace">Welcome to Salon ISHI, your number one source for all the Beauty Services. We're dedicated to giving you the very best of Our Services , with a focus on using best Brands of the world , Best experienced Employees and Excellent Customer Satisfaction......</p>
      <button class="button" routerLink="/about-us"><span>Read More</span></button>
    </div>
   </div>
</div>
    <div class="col-20"style="padding-left: 170px;padding-top: 30px">
      <img class="aboutusicon" src="assets/images/i2.png" style="padding-left: 20px; width: 250px;height: 250px;alignment: center">
    </div>
  </div>
</div>
<div class="homcon1">
  <div class="row" style="padding-left: 100px;padding-top:0px">
    <div class="col-4">
      <img class="aboutusicon" src="assets/images/i3.png" style="padding-left: 0px;padding-top: 10px; width: 300px;height: 300px;alignment: center">
    </div>
    <div class="col-md-7"style="padding-right: 10px;padding-top: 0px">
      <div class="container">
        <div class="jumbotron">
          <h1>SERVICES</h1>
          <p class="lead" style="font-family: Courier, monospace">The Following are the services that Salon ISHI will provide to you.These services will be provided by the best Experienced Employees that Around the country and these Services will be Affordable to any the customers with a fair rate......</p>
          <button class="button" routerLink="/services"><span>Read More</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="homcon1">
  <div class="row" style="padding-left: 30px">
    <div class="col-md-7">
      <div class="container">
        <div class="jumbotron">
          <h1>COLLECTION</h1>
          <p class="lead" style="font-family: Courier, monospace">We have Include a Collection of our Service and outcomes of our services.Fell free to watch our Collection...</p>
          <button class="button" routerLink="/gallery"><span>Read More</span></button>
        </div>
      </div>
    </div>
    <div class="col-20"style="padding-left: 170px;padding-top: 30px">
      <img class="aboutusicon" src="assets/images/i4.png" style="padding-left: 20px; width: 250px;height: 250px;alignment: center">
    </div>
  </div>
</div>
<div class="homcon1">
  <div class="row" style="padding-left: 100px;padding-top:0px">
    <div class="col-4">
      <img class="aboutusicon" src="assets/images/i1.png" style="padding-left: 0px;padding-top: 10px; width: 300px;height: 300px;alignment: center">
    </div>
    <div class="col-md-7"style="padding-right: 10px;padding-top: 0px">
      <div class="container">
        <div class="jumbotron">
          <h1>CONTACT US </h1>
          <p class="lead" style="font-family: Courier, monospace">We Have Include our contact methods to you all. if you have any issue with our services you can contact us with the given methods...</p>
          <button class="button" routerLink="/contact-us"><span>Read More</span></button>
        </div>
      </div>
    </div>
  </div>
</div>


